{% assign basics = site.data.data.basics %}
{% if basics %}

<div class="image">
</div>
<div class="header">
  Contact
</div>
<div class="item">
  <div class="icon">
      <span class="fa-stack" style="vertical-align: top;">
      <i class="fas fa-city fa-lg"></i>
      </span>
  </div>
  <div class="text">
    <ul>
      <li>
        {{ basics.location.address }}
      </li>
      <li>
        {{ basics.location.city }}
      </li>
    </ul>
  </div>
</div>
<div class="item">
  <div class="icon">
    <a href="tel:{{ basics.phone }}" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
      <i class="fas fa-phone fa-lg"></i>
      </span>
    </a>
  </div>
  <div class="text">
    <ul>
      <li>
        <a href="tel:{{ basics.phone }}" target="_blank">
          {{ basics.phone }}
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="item">
  <div class="icon">
    <a href="mailto:{{ basics.email }}" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
      <i class="fas fa-at fa-lg"></i>
      </span>
    </a>
  </div>
  <div class="text">
    <ul>
      <li>
        <a href="mailto:{{ basics.email }}" target="_blank">
          {{ basics.email }}
        </a>
      </li>
    </ul>
  </div>
</div>
{% for profile in basics.profiles %}
<div class="item">
  <div class="icon">
    <a href="{{ profile.url }}" target="_blank">
      <span class="fa-stack" style="vertical-align: top;">
      <i class="fab fa-{{ profile.network }} fa-lg"></i>
      </span>
    </a>
  </div>
  <div class="text">
    <ul>
      <li>
        <a href="{{ profile.url }}" target="_blank">
          {{ profile.username }}
        </a>
      </li>
    </ul>
  </div>
</div>
{% endfor %}
{% endif %}