{% assign projects = site.data.data.projects %}
{% if projects %}

<div class="section">
  <div class="section-header">
    Projects
  </div>
  <div class="content">
    {% for project in projects %}
    <a href="{{ project.url }}" target="_blank">
      <div class="card shadow">
        <div class="card-header">
        <span class="card-header-left">
            {{ project.name }}
        </span>
          <span class="card-header-right">
            {{ project.type }}
        </span>
        </div>
        <div class="card-body">
          <span></span>
          {{ project.description }}
        </div>
        <div class="card-footer">
          {{ project.keywords }}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endif %}