{% assign publications = site.data.data.publications %}
{% if publications %}

<div class="section">
  <div class="section-header">
    Publications (Private)
  </div>
  <div class="content">
    {% for publication in publications %}
    <a href="{{ publication.url }}" target="_blank">
      <div class="card shadow">
        <div class="card-header">
          {{ publication.name }} | {{ publication.publisher }}
        </div>
        <div class="card-body">
          {{ publication.summary }}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endif %}