{% assign work = site.data.data.work %}
{% if work %}

<div class="section">
  <div class="section-header">
    Work
  </div>
  <div class="content">
    {% for workItem in work %}
    <a href="{{ workItem.url }}" target="_blank">
      <div class="card shadow">
        <div class="card-header">
          {{ workItem.name }}
        </div>
        <div class="card-body">
          {{ workItem.startDate }} - {{ workItem.endDate }} | {{ workItem.position }}
        </div>
        <div class="card-body-details">
          <ul>
            {% for highlight in workItem.highlights %}
            <li>
            <span>
              {{ highlight }}
            </span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

{% endif %}